<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi</title>
</head>
<body>
    <h1>도서관리시스템</h1>
            <table width="30%">
                <tr>
                    <td><a href="/">Home</a></td>
                    <td><a href="/logout">logout</a></td>
                </tr>
            </table>
            <input type="button" value="책 추가" onclick="location.href='/create/Enrollment'"> <br>
            <table border="1">
                <tr style="text-align: center">
                    <th>책번호</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>상세보기</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                <% board.forEach(function (value) { %>
                <tr style="text-align: center" >
                    <td><%=value.id %></td>
                    <td><%=value.bookname %></td>
                    <td><%=value.author %></td>
                    <td><a href="/detail/<%= value.id %>">상세보기</a></td>
                    <td><button><a href="/edit/<%= value.id %>">수정</a></button></td>
                    <td><button><a href="/delete/<%= value.id %>">삭제</a></button></td>
                </tr>
                    

                    
                    <% });  %>
            </table>
</body>
</html>